.theme-dark {
  .toolbar-title,
  .bar-button-default,
  .card-title {
    color: #fff;
  }
  .toolbar-background,
  .tabbar {
    background-color: #212121 !important;
  }
  ion-content,
  ion-item-sliding,
  .item {
    background-color: #303030 !important;
    color: #fff;
    .activated {
      background-color: #ebebeb !important;
    }
  }
  b {
    color: #d500f9;
  }
  ion-card-content {
    background-color: #424242;
  }
}
