<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!isSearchbarOpened">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!isSearchbarOpened">Chawnghlang Relnak</ion-title>
    <ion-searchbar *ngIf="isSearchbarOpened" [(ngModel)]="params.search" [formControl]="searchControl" showCancelButton="true"
      (ionInput)="onSearchInput($event)" (ionCancel)="onSearchCancel($event)"></ion-searchbar>
    <ion-buttons end *ngIf="!isSearchbarOpened">
      <button ion-button icon-only (click)="isSearchbarOpened = true">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="toogleTheme()">
        <ion-icon [name]="setting.getValue('theme') === 'theme-dark' ? 'sunny' : 'moon'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-list [virtualScroll]="responsiveReadings">
    <button ion-item *virtualItem="let responsiveReading" navPush="ResponsiveReadingPage" [navParams]="{ id: responsiveReading.id }">
      {{ responsiveReading.id }}. {{ responsiveReading.title }}
    </button>
  </ion-list>
</ion-content>
